.chakra-button:has(.bell--icon)::after {
  content: "";
  width: 11px;
  height: 11px;
  background-color: #ff4423;
  border-radius: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.select--calendar {
  width: 90px;
  font-size: 12px;
  outline: none;
}
.select--calendar::placeholder {
  color: #90a3bf;
}

.left-banner-circle--pattern::before {
  content: "";
  height: 180%;
  opacity: 0.1;
  border-radius: 50%;
  width: 100%;
  background-image: repeating-radial-gradient(
    circle,
    transparent 0 30px,
    #f6f7f9 10px 50px
  );

  position: absolute;
  clip-path: circle(farthest-side);
  top: 0%;
  right: 0;
}

.right-banner-zig--pattern::before {
  content: "";
  background-image: linear-gradient(135deg, #fff 25%, transparent 25%),
    linear-gradient(45deg, #fff 25%, transparent 25%),
    linear-gradient(
      135deg,
      transparent 24%,
      #a29fe5 25%,
      #a29fe5 45%,
      transparent 45%
    ),
    linear-gradient(
      45deg,
      transparent 24%,
      #a29fe5 25%,
      #a29fe5 45%,
      transparent 45%
    );
  background-size: 3em 3em;
  background-color: #fff;
  top: 0%;
  opacity: 0.1;
  width: 100%;
  height: 100%;
  position: absolute;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.05);
  }
}

.pulse {
  animation: pulse 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.mobile-slider .slick-active + div {
  margin-left: -50px;
}

.carDetail .slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 270px;
}
.carDetail .slick-dots {
  display: flex !important;
  flex-wrap: nowrap;
  justify-content: center;
}
.carDetail .slick-dots li {
  width: 80px;
  height: 70px;
}
.carDetail ul {
  bottom: -80px;
}
