.chakra-button:has(.bell--icon)::after {
  content: "";
  width: 11px;
  height: 11px;
  background-color: #ff4423;
  border-radius: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.select--calendar {
  width: 150px;
  font-size: 12px;
  outline: none;
}
.select--calendar::placeholder {
  color: #90a3bf;
}
